[submodule "official_repo/online"]
	path = official_repo/online
	url = git@github.com:sb/SmallBasic-Online.git
[submodule "official_repo/editor"]
	path = official_repo/editor
	url = git@github.com:sb/smallbasic-editor.git
[submodule "official_repo/homesite"]
	path = official_repo/homesite
	url = git@github.com:sb/SmallBasicWebsite.git
