# VS files
.vs/
.vscode/
*.csproj.user
.artifacts
.vscode-test-web/

# ai file
.tmp
.kilo
*.log

# Output files
bin
obj
node_modules
wwwroot
out
visual_studio_code_plugin/packages/smallbasic-vscode/RunHost/
.gitignore

